@model CylnderEntities.usp_CylinderMasterGetByID_Result

@{
    ViewBag.Title = "CreateCylinderDetails";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script>
    $(document).ready(function () {
        $('#VendorID').change(function () {
            //alert('vendor');
            debugger;
            if (document.getElementById('VendorID').value != "") {
                $('#VendorBranchID').empty();
                fillDropdown($('#VendorBranchID'), '@Url.Action("getBranch")', document.getElementById('VendorID').value);
            }
        });

        $('#TestDate').change(function () {
            debugger;
            //alert($(this).val());
            //NextTestDate
            var testdt = new Date($(this).val());
            var year = testdt.getFullYear()+5;
            var month = testdt.getMonth()+1;
            var day = testdt.getDate();
            if (month.toString().length == 1)
                month = "0" + month;
            if (day.toString().length == 1)
                day = "0" + day;
            var newdt = new Date(year + 5, month, day)
            $('#NextTestDate').val(year.toString()+"-"+month.toString()+"-"+day.toString());
        });
    });
</script>


<h2>Cylinder Details</h2>
<hr />
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        

        <div class="form-group">
            @Html.LabelFor(model => model.CylindeNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4 col-lg-4  col-xs-12">
                @Html.EditorFor(model => model.CylindeNumber, new { htmlAttributes = new { @class = "form-control" ,placeholder="Enter Cylinder Number"} })
                @Html.ValidationMessageFor(model => model.CylindeNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ManufacturerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4 col-lg-4  col-xs-12">

                @Html.DropDownListFor(model => model.ManufacturerID, ViewBag.ManufacturerID as List<SelectListItem>, "Select Manufacturer")
                @Html.ValidationMessageFor(model => model.ManufacturerID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PurchaseDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4 col-lg-4  col-xs-12">
                @Html.EditorFor(model => model.PurchaseDate, new { type = "date" })
                @Html.ValidationMessageFor(model => model.PurchaseDate, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.InitialGas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4 col-lg-4  col-xs-12">

                @Html.DropDownListFor(model => model.InitialGasID, ViewBag.InitialGasID as List<SelectListItem>, "Select Initial Gas")
                @Html.ValidationMessageFor(model => model.InitialGasID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="padding-left:-43px;">
            @Html.LabelFor(model => model.WLCapacity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8 col-lg-8  col-xs-12">
                <div class="col-md-4 col-lg-4  col-xs-6">@Html.EditorFor(model => model.WLCapacity, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter WLCapacity" } })
                @Html.ValidationMessageFor(model => model.WLCapacity, "", new { @class = "text-danger" })</div>
                <div class="col-md-4 col-lg-4  col-xs-6">
                    @Html.DropDownListFor(model => model.WLCapacityUOMID, ViewBag.WLCapacityUOMID as List<SelectListItem>, "Select UOM", new { htmlAttributes = new { @class = "dropdown" } })
                    @Html.ValidationMessageFor(model => model.WLCapacityUOMID, "", new { @class = "text-danger" })
</div>

                

                </div>
        </div>




        <div class="form-group" style="margin-left:-30px;">
            @Html.LabelFor(model => model.WorkingPressure, htmlAttributes: new { @class = "control-label col-md-2" })
            

            <div class="col-md-8 col-lg-8  col-xs-12">
                <div class="col-md-4 col-lg-4  col-xs-6">
                @Html.EditorFor(model => model.WorkingPressure, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Working Pressure" } })
                @Html.ValidationMessageFor(model => model.WorkingPressure, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4 col-lg-4  col-xs-6">
                
                @Html.DropDownListFor(model => model.WorkingPressureUOMID, ViewBag.WorkingPressureUOMID as List<SelectListItem>, "Select UOM")
                @Html.ValidationMessageFor(model => model.WorkingPressureUOMID, "", new { @class = "text-danger" })

            </div>



        </div>
        </div>



        @*<div class="form-group">
            @Html.LabelFor(model => model.WorkingPressureUOM, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4 col-lg-4  col-xs-12">

            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.TestDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4 col-lg-4  col-xs-12">
                @Html.EditorFor(model => model.TestDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TestDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NextTestDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4 col-lg-4  col-xs-12">
                @Html.EditorFor(model => model.NextTestDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NextTestDate, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.ValveModel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4 col-lg-4  col-xs-12">

                @Html.DropDownListFor(model => model.ValveModelID, ViewBag.ValveModelID as List<SelectListItem>, "Select Valve model")

                @Html.ValidationMessageFor(model => model.ValveModelID, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.PresentState, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4 col-lg-4  col-xs-12">
                @*@Html.EditorFor(model => model.PresentState, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.PresentStateID, ViewBag.PresentStateID as List<SelectListItem>, "Select Present State")
                @Html.ValidationMessageFor(model => model.PresentStateID, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.GasInUse, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4 col-lg-4  col-xs-12">
                @Html.DropDownListFor(model => model.GasInUseID, ViewBag.GasInUseID as List<SelectListItem>, "Select Gas In Use")
                @*@Html.EditorFor(model => model.GasInUse, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.GasInUseID, "", new { @class = "text-danger" })
            </div>
        </div>





        <div class="form-group">
            @Html.LabelFor(model => model.VendorName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4 col-lg-4  col-xs-12">
                @*@Html.EditorFor(model => model.VendorName, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.VendorID, ViewBag.VendorID as List<SelectListItem>, "Select Vendor Name", htmlAttributes: new { @class = "dropdown" })
                @Html.ValidationMessageFor(model => model.VendorID, "", new { @class = "text-danger" })
                @*@Html.DropDownListFor(model => model.VendorBranchID, ViewBag.VendorBranchID as List<SelectListItem>, "Select Branch Name", htmlAttributes: new { @class = "dropdown" })*@
                @Html.DropDownList("VendorBranchID", new SelectList(string.Empty, "value", "text"), "--Select--", htmlAttributes: new { @class = "dropdown" })
                @Html.ValidationMessageFor(model => model.VendorBranchID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-left:-30px;">
            @Html.LabelFor(model => model.Size, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4 col-lg-4  col-xs-12">
                
                
            </div>

            <div class="col-md-8 col-lg-8  col-xs-12">
                <div class="col-md-4 col-lg-4  col-xs-6">
                
                    @Html.EditorFor(model => model.Size, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Size" } })
                    @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4 col-lg-4  col-xs-6">
                    @Html.DropDownListFor(model => model.SizeUOMID, ViewBag.SizeUOMID as List<SelectListItem>, "Select UOM")
                    @Html.ValidationMessageFor(model => model.SizeUOMID, "", new { @class = "text-danger" })

                </div>



            </div>
        </div>



        @*<div class="form-group">
            @Html.LabelFor(model => model.SizeUOM, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4 col-lg-4  col-xs-12">
                
                
            </div>
        </div>*@





        @*<div class="form-group">
            @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4 col-lg-4  col-xs-12">
                @Html.LabelFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DisplayFor(model => model.CustomerName)


                @*@Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.CurrentDeliveryDate, new { @class = "control-label col-md-2" })
            <div class="col-md-4 col-lg-4  col-xs-12">
                @Html.DisplayFor(model => model.CurrentDeliveryDate)
                @Html.EditorFor(model => model.CurrentDeliveryDate, new { type = "date" })
                @Html.ValidationMessageFor(model => model.CurrentDeliveryDate, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.CurrentRecieveDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4 col-lg-4  col-xs-12">
                @Html.EditorFor(model => model.CurrentRecieveDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.DisplayFor(model => model.CurrentRecieveDate)

                @Html.ValidationMessageFor(model => model.CurrentRecieveDate, "", new { @class = "text-danger" })
            </div>
        </div>*@



        <div class="form-group">
            @Html.LabelFor(model => model.CurrentLocation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4 col-lg-4  col-xs-12">
                @*@Html.EditorFor(model => model.CurrentLocation, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.CurrentLocationID, ViewBag.CurrentLocationID as List<SelectListItem>, "Select Location")
                @Html.ValidationMessageFor(model => model.CurrentLocationID, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4 col-lg-4  col-xs-12">
                @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
